<div class="col-md-4" id="col1-detalle" hidden>
    <div id="data-pelicula-detalle">
        <div class="row" id="row1-detalle"><label id="lbl-titulo-detalle">Nombre: {{nombre}}</label></div>
        <div class="row" id="row3-detalle"><label id="lbl-edad-detalle">Edad: {{edad}}</label></div>
        <div class="row" id="row4-detalle"><label id="lbl-tipo-detalle">Capacidad: {{capacidad}}</label></div>
        <div class="row" id="row5-detalle"><label id="lbl-fechaEstreno-detalle">Pais Natal: {{paisOrigen}}</label></div>
        <div class="row" id="row6-detalle"><label id="lbl-cantidadPublico-detalle">Tiene unidad propia: {{unidadPropia}}</label></div> 
    </div>
</div>

<label id="lbl-mensaje-temporal-detalle">Ningun repartidor fue seleccionado. Haga click en uno para mostrarlo.</label>