<div class="col-md-4" id="col1-detalle" hidden>
    <div id="data-pelicula-detalle">
        <div class="row-md-4" id="row1-detalle"><label id="lbl-titulo-detalle">{{nombre}}</label></div>
        <div class="row-md-4" id="row3-detalle"><label id="lbl-descripcion-detalle">{{edad}}</label></div>
        <div class="row-md-4" id="row4-detalle">Tipo: <label id="lbl-tipo-detalle">{{capacidad}}</label></div>
        <div class="row-md-4" id="row5-detalle">Fecha estreno: <label id="lbl-fechaEstreno-detalle">{{paisOrigen}}</label></div>
        <div class="row-md-4" id="row6-detalle">Cantidad publico: <label id="lbl-cantidadPublico-detalle">{{unidadPropia}}</label></div> 
    </div>
</div>

<label id="lbl-mensaje-temporal-detalle">Ningun repartidor fue seleccionado. Haga click en uno para mostrarlo.</label>