<p hidden id="data-pais">
    <label id="pais">Pais: <label class="data-pais">{{nombreComunPaisActor}}</label></label><br>
    <label>Region: <label class="data-pais">{{regionPaisActor}}</label></label><br>
    <label>Poblacion: <label class="data-pais">{{poblacionPaisActor}}</label></label><br>
    <label>Bandera: <label class="data-pais">{{banderaPaisActor}}</label></label>
</p>

<label id="lbl-mensaje-temporal-detalle-2">Ningun repartidor fue seleccionado. Haga click en uno para mostrar su país.</label>