p
{
    font-size: 18px;
    font-weight: 500;
    color: cornflowerblue;
    margin-left: 5px;
}

#pais
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0.6rem;
    color: white;
}