<h1 class="display-4 fst-italic" id="titulo-principal">Alta entidad</h1>
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    
    <div class="col p-4 d-flex flex-column position-static">

        <form id="form-alta-repartidor" [formGroup]="forma" (ngSubmit)="crearEntidad()">

            <div class="row">
                <div class="col g-0 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="mb-3"><input formControlName="nombre" type="nombre" class="form-item" id="nombre" placeholder="Nombre" [(ngModel)]="nombre"></div>                          
                    <small class="invalid" *ngIf="forma.controls?.['nombre'].errors?.required && forma.controls?.['nombre'].touched">El nombre es requerido</small>
                </div>

                <div class="col g-0  overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="mb-3"><input formControlName="edad" type="number" class="form-item" id="edad" placeholder="Edad" [(ngModel)]="edad"></div>                          
                    <small class="invalid" *ngIf="forma.controls?.['edad'].errors?.required && forma.controls?.['edad'].touched">La edad es requerida</small>
                </div> 
            </div>

            <div class="row">
                <div class="col g-0  overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="mb-3"><input formControlName="dni"  type="number" class="form-item" id="dni" placeholder="DNI" [(ngModel)]="dni"></div>                          
                    <small class="invalid" *ngIf="forma.controls?.['dni'].errors?.required && forma.controls?.['dni'].touched">El DNI es requerido</small>
                </div>

                <div class="col g-0  overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="mb-3"><input formControlName="capacidad" type="number" class="form-item" id="capacidad-transporte" placeholder="Capacidad de transporte" [(ngModel)]="capacidadDeTransporte"></div>                          
                    <small class="invalid" *ngIf="forma.controls?.['capacidad'].errors?.required && forma.controls?.['capacidad'].touched">La capacidad es requerida</small>
                </div>

                <div class="col g-0  overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <input type="text"  class="form-item" readonly placeholder="País" [(ngModel)]="pais" [ngModelOptions]="{standalone: true}">
                </div>
            </div>

            <div class="row">
                <div class="col g-0  overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <input type="radio" id="capacidad-item1" name="capacidad" value="masculino" checked>
                        <label>Unidad propia</label>
                        <input type="radio" id="capacidad-item2" name="capacidad" value="femenino">
                        <label>Unidad ajena</label><br>
                </div>
            </div>

            <small class="invalid" id="error-enviando" hidden>Hay errores en la encuesta</small>
            <button id="btn-crear" (click)="crearEntidad()"> C R E A R </button>

        </form>
    </div>

</div>