#btn-crear
{
    height: 2.5rem;
    width: 95%;
    border-radius: 15px;
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: -1rem;
    margin-bottom: -10rem;
    background-color: #212529; 
    color: white;
    border:  1px solid white;
}


#contenedor-absoluto
{
    margin-top: 4rem;
    height: 28rem;
}

#col1
{
    text-align: center;
    width: 68%;
}

.row
{
    margin-bottom: -1rem;
}

#col2
{
    text-align: center;
    width: 32%;
}

#form-alta-repartidor
{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 400;
}

.form-item
{
    width: 85%;
    border-radius: 6px;
    font-weight: 400;
}


#capacidad-item2
{
    margin-left: 4rem;
    margin-right: 0.3rem;
}

#capacidad-item1
{
    margin-right: 2rem;
    margin-right: 0.3rem;
}

#col-paises
{
    height: 17%;
}

.invalid
{
    color: red;
    margin-left: 3px;
}