<div class="p-4 p-md-5 mb-4 rounded text-bg-dark" id="contenedor-absoluto">

    <h1 class="display-4 fst-italic" id="titulo-principal">Listado de entidad</h1>

    <div id="contenedor-entidad">
        <div class="row">

            <div class="col-md-4" id="row1">

                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    
                    <div class="col p-4 d-flex flex-column position-static">
                        <ul>
                            <!-- <li class="actor-item" *ngFor="let actor of actoresColumn1; let i = index" (click)="actorClickeado(actor)">
                                <label class="actor-nombre">{{actor.nombre}} {{actor.apellido}}</label>
                                <br>                          
                            </li> -->
                        </ul>
                    </div>

                    <div class="col p-4 d-flex flex-column position-static">
                        <ul>
                            <!-- <li class="actor-item" *ngFor="let actor of actoresColumn2; let i = index" (click)="actorClickeado(actor)">
                                <label class="actor-nombre">{{actor.nombre}} {{actor.apellido}}</label>
                                <br>                          
                            </li> -->
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>