<div class="col-md-4" id="col1-modificar" hidden>
    <div id="data-pelicula-modificar">
        <form>
            <!-- <div class="row-md-4" id="row1-modificar"><input type="text" id="titulo"  [(ngModel)]="titulo" [ngModelOptions]="{standalone: true}"></div> -->
            <!-- <div class="row-md-4" id="row2-modificar"><img id="card-img-modificar" src="../../../assets/assets-peliculas/3-metros-sobre-el-cielo.jpg"></div> -->
            <!-- <div class="row-md-4" id="row3-modificar"><textarea id="descripcion" [(ngModel)]="descripcion" [ngModelOptions]="{standalone: true}"></textarea></div>  -->
            <!-- <div class="row-md-4" id="row4-modificar">Tipo:<br>          -->
                <input type="radio" class="tipo-opcion" name="tipoPelicula" value="Amor" id="opcion-tipo1">
                <label>Amor</label><br>
                <input type="radio" class="tipo-opcion" name="tipoPelicula" value="Comedia" id="opcion-tipo2">
                <label>Comedia</label><br>
                <input type="radio" class="tipo-opcion" name="tipoPelicula" value="Terror" id="opcion-tipo3">
                <label>Terror</label><br>
                <input type="radio" class="tipo-opcion" name="tipoPelicula" value="Otros" id="opcion-tipo4">
                <label>Otros</label><br>
            <!-- </div> -->
            <!-- <div class="row-md-4" id="row5-modificar">Fecha estreno<br> <input type="text" id="fechaEstreno" [(ngModel)]="fechaEstreno" [ngModelOptions]="{standalone: true}"></div> -->
            <!-- <div class="row-md-4" id="row6-modificar">Cantidad publico<br> <input type="number" id="cantidadPublico" [(ngModel)]="cantidadPublico" [ngModelOptions]="{standalone: true}"></div> -->
        
            <!-- <button type="submit" id="btn-modificar" (click)="modificarPelicula()"> M O D I F I C A R </button> -->
        </form>   
    </div>
</div>
<label id="lbl-mensaje-temporal-modificar">Ninguna entidad-2 fue seleccionada. Haga click en una para mostrarla.</label>
